@font-face {
    font-family: chiaroscuroFont;
    src: url(../fonts/Chiaroscuro-ExtraLight.otf);
  }
  
.custom-navbar {
    position: relative;
    background-color: #CFE0F1;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-navbar a {
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: chiaroscuroFont;
    font-weight: 700;
}

.nav-orange {
    background-color: #E6AF2E !important;
}

.nav-blue {
    background-color: #31477A !important;
}

.nav-greenish {
    background-color: #CFE0F1 !important;
}