#octopus-1 {
    position: absolute;
    width: 55%;
    top: 0%;
    left: -26%;
}

/* #octopus-2 {
    position: absolute;
    width: 22%;
    margin: 0;
    padding: 0;
    right: -7%;
    transform: rotate(300deg);
} */

#octopus-3 {
    position: absolute;
    width: 40%;
    left: 1%;
    bottom: 0;
}

#octopus-4 {
    position: absolute;
    width: 35%;
}

#octopus-5 {
    position: absolute;
    width: 35%;
}