#unclassified-section {
    width: 100%;
    background-image: linear-gradient(to bottom, #d3eb08, #030e66);
}

#e2t-section {
    width: 100%;
    background-image: linear-gradient(to bottom, #eb8908, #030e66);
}

#chatbox-section {
    width: 100%;
    background-image: linear-gradient(to bottom, #2ecfda, #030e66);
}

#voicebot-section {
    width: 100%;
    background-image: linear-gradient(to bottom, #abce2c, #030e66);
}