@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face {
    font-family: chiaroscuroFont;
    src: url(../fonts/Chiaroscuro-ExtraLight.otf);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.chiaroscuroFont { 
    font-family: chiaroscuroFont;
}

.normal-text {
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: #F6E9D8;
    text-align: center;
}