@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face {
    font-family: chiaroscuroFont;
    src: url(../fonts/Chiaroscuro-ExtraLight.otf);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.chiaroscuroFont { 
    font-family: chiaroscuroFont;
}

.normal-text {
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 7vh;
    width: 100%;
    background-color: #CFE0F1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.product-name {
    font-family: chiaroscuroFont;
    color: #E6AF2E;
    font-size: 6rem;
    font-weight: 600;
}

.dark {
    color: #1C2E64;
}